{% extends "qa/base.html" %}
{% block title %}
	{{ block.super }} - Регистрация
{% endblock %}
{% block content %}
	<h2>Регистрация пользователя</h2>
	{% for e in form.non_field_errors %}
		<div class="alert alert-danger">{{ e }}</div>
	{% endfor %}
	<form class="form-horizontal" method="post" action="{{ request.path }}">
		{% csrf_token %}
		<fieldset>
			{% for field in form %}
				<div class="control-group
					{% if field.errors %}has-error{% endif %}">
					<label class="control-label">{{ field.label }}</label>
					<div class="controls">{{ field }}</div>
				</div>
			{% endfor %}
		</fielset>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">
			Регистрация</button>
		</div>
	</form>
{% endblock %}
